.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border: solid 2px var(--clr-white);
  margin-right: 1.5rem;
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label:before {
  border-color: var(--clr-green);
}

.checkbox-container input[type="checkbox"]:checked + label:before {
  content: "\002714";
  color: var(--clr-background-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--clr-green);
  border: none;
}
