/* Generated Input */
.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-lg);
}

.input-container svg {
  position: absolute;
  right: var(--spacing-lg);
}

.input-container .clickable:hover path {
  fill: var(--clr-white);
}

.input-container .clickable:active path {
  scale: 0.975;
}

.generated-input {
  background-color: var(--clr-background-dark);
  padding: var(--spacing-md) var(--spacing-lg);
  border: none;
}

.clickable {
  cursor: pointer;
}

/* Configure Password */
.configure-password {
  background-color: var(--clr-background-dark);
  padding: var(--spacing-md) var(--spacing-lg);
  margin-top: var(--spacing-md);
}

.configure-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-lg);
}

.generate-btn {
  background-color: var(--clr-green);
  color: var(--clr-background-dark);
  border: solid 1px var(--clr-green);
}

.generate-btn:disabled {
  background-color: gray;
  border-color: gray;
}

.generate-btn:hover:not([disabled]) {
  background: none;
  border: solid 1px var(--clr-green);
  color: var(--clr-green);
}

.generate-btn:hover:not([disabled]) .btn-icon path {
  fill: var(--clr-green);
}

.generate-btn svg {
  margin-left: var(--spacing-sm);
}

.options {
  margin-top: var(--spacing-lg);
}

/* StrengthIndicator */
.strength-indicator {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-background-darker);
  padding: var(--spacing-md);
  margin: var(--spacing-lg) 0;
}

.indicator {
  width: 8px;
  border: solid 2px white;
  padding: 0 3px;
}

.indicator:not(:last-child) {
  margin-right: 6px;
}

.strength-weakest {
  background-color: var(--clr-red);
  border-color: var(--clr-red);
}

.strength-weak {
  background-color: var(--clr-orange);
  border-color: var(--clr-orange);
}

.strength-medium {
  background-color: var(--clr-yellow);
  border-color: var(--clr-yellow);
}

.strength-strong {
  background-color: var(--clr-green);
  border-color: var(--clr-green);
}
